name: day-1

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2
        with:
          ref: master
      - name: Setup JDK 1.8
        uses: actions/setup-java@1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew build